
/* Sliders */
*,
*::after,
*::before {
	box-sizing: border-box;
}


body {
	min-height: 100vh;
	background-color: #fff;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header github'
	'... ...'
	'... demos';
}

.content--fixed a {
	pointer-events: auto;
}

.slideshow {
	width: 100%;
	height: 80vh;
	position: relative;
	overflow: hidden;
}

.slides {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.slide--current {
	opacity: 1;
	pointer-events: auto;
}

.slide__img {
	position: absolute;
	top: -200px;
	left: -200px;
	width: calc(100% + 400px);
	height: calc(100% + 400px);
	background-size: cover;
	background-position: 50% 50%;
}

.slidenav {
	position: absolute;
	width: 300px;
	margin-left: -150px;
	left: 50%;
	bottom: 0;
	text-align: center;
	padding: 2em;
}

.slidenav__item {
	border: 0;
	background: none;
	font-size: 8px;
	color: white;
}
button{
	font-family: 'Montserrat', sans-serif;
}
.slidenav__item:focus {
	outline: none;
}

.slidenav__item:hover {
	color: white;
}

.shape {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: green;
	top: 0;
	pointer-events: none;
}

.slide__title {
	position: relative;
	font-size: 4em;
	margin: 0;
	cursor: default;
	line-height: 1;
	color: white;
}

.slide__desc {
	position: relative;
	font-size: 2em;
	margin: 1em 0 2em 0;
	cursor: default;
	color: white;
	padding: 0 10em;
	text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {	
	.slide__title {
		font-size: 2em;
	}
	.slide__desc {
		font-size: 1em;
		padding: 0 4em;
	}
	.slidenav__item {
		font-size: 0.5em;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {	
	.slide__title {
		font-size: 2.3em;
	}
	.slide__desc {
		font-size: 1.2em;
		padding: 0 4em;
	}
	.slidenav__item {
		font-size: 0.6em;
	}
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
	.slide__title {
		font-size: 3em;
	}
	.slide__desc {
		font-size: 1.8em;
		padding: 0 5em;
	}
	
		
	.slidenav__item {
		font-size: 0.9em;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
		
	.slide__title {
		font-size: 3.5em;
	}
	.slide__desc {
		font-size: 2em;
		padding: 0 5em;
	}
	
	.slidenav__item {
		font-size: 1em;
	}
} 




/* Effect 1: Brackets */
.navi a {
	position: relative;
	display: inline-block;
	margin: 8px 10px 0px 0px;
	outline: none;
	color: #F37343;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: .83em;
}

.navi a:hover,
.navi a:focus {
	outline: none;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


