$primary: #FBAE4B;
$secondary: #F37343;
$primary-font: 'Futura', sans-serif;
$secondary-font: 'EB Garamond', serif;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

$headings-color: #FBAE4B !default;

@import "node_modules/bootstrap/scss/bootstrap";
